

NET "AN[3]" IOSTANDARD = LVCMOS18;
NET "AN[2]" IOSTANDARD = LVCMOS18;
NET "AN[1]" IOSTANDARD = LVCMOS18;
NET "AN[0]" IOSTANDARD = LVCMOS18;
NET "DM_Addr[7]" IOSTANDARD = LVCMOS18;
NET "DM_Addr[6]" IOSTANDARD = LVCMOS18;
NET "DM_Addr[5]" IOSTANDARD = LVCMOS18;
NET "DM_Addr[4]" IOSTANDARD = LVCMOS18;
NET "DM_Addr[3]" IOSTANDARD = LVCMOS18;
NET "DM_Addr[2]" IOSTANDARD = LVCMOS18;
NET "MW_Data_s[1]" IOSTANDARD = LVCMOS18;
NET "MW_Data_s[0]" IOSTANDARD = LVCMOS18;
NET "seg[7]" IOSTANDARD = LVCMOS18;
NET "seg[6]" IOSTANDARD = LVCMOS18;
NET "seg[5]" IOSTANDARD = LVCMOS18;
NET "seg[4]" IOSTANDARD = LVCMOS18;
NET "seg[3]" IOSTANDARD = LVCMOS18;
NET "seg[2]" IOSTANDARD = LVCMOS18;
NET "seg[1]" IOSTANDARD = LVCMOS18;
NET "seg[0]" IOSTANDARD = LVCMOS18;
NET "clk" IOSTANDARD = LVCMOS18;
NET "clk_dm" IOSTANDARD = LVCMOS18;
NET "Mem_Write" IOSTANDARD = LVCMOS18;


NET "clk" LOC = H4;
NET "clk_dm" LOC = R4;
NET "AN[3]" LOC = L21;
NET "AN[2]" LOC = M22;
NET "AN[1]" LOC = M21;
NET "AN[0]" LOC = N22;
NET "seg[7]" LOC = H19;
NET "seg[6]" LOC = G20;
NET "seg[5]" LOC = J22;
NET "seg[4]" LOC = K22;
NET "seg[3]" LOC = K21;
NET "seg[2]" LOC = H20;
NET "seg[1]" LOC = H22;
NET "seg[0]" LOC = J21;


NET "clk_dm" PULLDOWN;
NET "Mem_Write" PULLDOWN;


NET "Mem_Write" LOC = AB8;
NET "DM_Addr[7]" LOC = T3;
NET "DM_Addr[6]" LOC = U3;
NET "DM_Addr[5]" LOC = T4;
NET "DM_Addr[4]" LOC = V3;
NET "DM_Addr[3]" LOC = V4;
NET "DM_Addr[2]" LOC = W4;
NET "MW_Data_s[1]" LOC = U7;
NET "MW_Data_s[0]" LOC = AB7;


NET "MW_Data_s[1]" PULLDOWN;
NET "MW_Data_s[0]" PULLDOWN;
NET "DM_Addr[7]" PULLDOWN;
NET "DM_Addr[6]" PULLDOWN;
NET "DM_Addr[5]" PULLDOWN;
NET "DM_Addr[4]" PULLDOWN;
NET "DM_Addr[3]" PULLDOWN;
NET "DM_Addr[2]" PULLDOWN;
